

body{
    background-color:#161D25;
}

.zen{
    z-index: 5;

}
.zen-4{
    z-index: 4;

}
.mers{
    padding:70px 0;
}
.texts{
    color: #77ADDC;
}
.texts:hover{
    color: #ffffff;
}

.navs{
    background-color: #222933;
    opacity: 95%;
}
.nav-item :hover{
    background-color: #2A313B;

}
.card-width{
    width: 18rem;

}
.hex{
    
    height: 500px;
    
}
.hexs{
    height: 150px;
    
}
.tops{
    top: 120px;
}
.bloc{
    display:block;
}
.loader{
    position: relative;
    font-size: 48px;
    letter-spacing: 6px;
  }
  .loader:before {
    content: "Loading";
    color: #fff;
  }
  .loader:after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #ff3d00;
    background-image: radial-gradient(circle 2px, #fff4 100%, transparent 0),
      radial-gradient(circle 1px, #fff3 100%, transparent 0);
    background-position: 14px -4px, 12px -1px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: -5px;
    right: 66px;
    transform-origin: center bottom;
    animation: fillBaloon 1s ease-in-out infinite alternate;
  }

  @keyframes fillBaloon {
    0% { transform: scale(1)}
    100% { transform: scale(3)}
  }

  @media only screen and (max-width: 1300px){

    .hex{
        
        height: 500px;
        
    }
}

@media only screen and (max-width: 768px){

.hex{
   
    height: 500px;
    
}
.hexs{
    height: 100px;
    
}
.bloc{
    display:none;
}


}






